#################
# Required
#################
+ Hyprland
+ Qt 6
+ SQLite3 + Qt SQLite driver
+ pulseaudio-utils OR pipewire-pulse

#################
# Optional
#################
# Screenshot / Screenrecording:
+ grim
+ slurp
+ wf-recorder

# File Manager:
+ thunar (or another, you can define it in settings)

# Music Player:
+ audacious (or another, you can define it in settings)

# Video Player:
+ vlc (or another, you can define it in settings)


# External URL Handler:
+ firefox (or configure a different browser)
