/*////////////////////////////////////////////////////////
//  ██╗    ██╗ █████╗ ██╗   ██╗██████╗  █████╗ ██████╗  //
//  ██║    ██║██╔══██╗╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗ //
//  ██║ █╗ ██║███████║ ╚████╔╝ ██████╔╝███████║██████╔╝ //
//  ██║███╗██║██╔══██║  ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗ //
//  ╚███╔███╔╝██║  ██║   ██║   ██████╔╝██║  ██║██║  ██║ //
//   ╚══╝╚══╝ ╚═╝  ╚═╝   ╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝ //
//"https://github.com/Alexays/Waybar/wiki/Configuration"//
//
//──PRESETS─────────────────────────────────────────────*/
@define-color black rgba(0, 0, 0, 0.66);
@define-color white rgba(255, 255, 255, 0.66);

/*──EVERYTHING──────────────────────────────────────────*/
* {
    all: unset;
    font: italic small-caps bold 16px "Sony Sketch EF, Symbols Nerd Font";
}
@keyframes blink {
    to {
        color: transparent;
    }
}
tooltip {
    color: white;
    background-color: @black;
    border: 2px solid white;
    border-radius: 10px;
}
tooltip label {
	color: white;
}

/*──WAYBAR──────────────────────────────────────────────*/
window {
    color: white;
    transition-property: inherit;
    background: linear-gradient(transparent calc(50%-2px), white, transparent calc(50%+2px));
}
#waybar.hidden,
#waybar.empty,
#waybar.empty #window {
    background-color: transparent;
}
menu {
    padding: 6px 10px;
    color: white;
    background-color: @black;
    border: 2px solid white;
    border-radius: 10px;
}
menu>*:hover {
    color: black;
    background-color: white;
    border: 2px solid @black;
    border-radius: 8px;
}
/*──MODULES─────────────────────────────────────────────*/
.modules-left,
.modules-center,
.modules-right {
    margin: 0px 10px;
    color: white;
    background-color: @black;
    border: 1px solid white;
    border-radius: 16px;
    border-width: .4px 1px;
}
.modules-left>*,
.modules-center>*,
.modules-right>*,
.modules-left>*>*,
.modules-center>*>*,
.modules-right>*>* {
    padding: 0px 7px;
}
.modules-left>*:first-child>*,
.modules-center>*:first-child>*,
.modules-right>*:first-child>* {
    border-radius: 16px;
}
.modules-left>*:last-child>*,
.modules-center>*:last-child>*,
.modules-right>*:last-child>* {
    border-radius: 16px;
}

/*──WORKSPACES──────────────────────────────────────────*/
#taskbar>*,
#tray>.passive>*,
#tray>.active>* {
    padding: 0px 2px;
}
#button,
#battery.charging,
#battery.plugged {
    color: green;
}
#workspaces,
#workspaces>button,
#workspaces>button.hidden,
#workspaces>button.empty,
#idle_inhibitor.deactivated,
#pulseaudio.sink.muted,
#pulseaudio.source.muted,
#tray>.passive {
    color: grey;
}
#workspaces>button.active,
#workspaces>button:hover,
#pulseaudio.sink,
#pulseaudio.source {
    color: white;
}
#workspaces>button.urgent,
#workspaces>button.persistent,
#network.disconnected,
#custom-pacman.pending-updates,
#tray>.needs-attention,
.warning, .critical, .urgent {
    color: white;
    animation-name: blink;
    animation-duration: 500ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#temperature.critical,
#battery.critical:not(.charging) {
    color:red;
}

/*──PULSEAUDIO──────────────────────────────────────────*/
slider {
    min-height: 10px;
    min-width: 5px;
    opacity: 0;
    border: red 1px solid;
    border-radius: 10px;
    background-color: red;
}
trough {
    min-height: 10px;
    min-width: 100px;
    border: @white 1px solid;
    border-radius: 10px;
    background-color: black;
}
highlight {
    min-width: 0px;
    border: @white 1px solid;
    border-radius: 10px;
    background-color: white;
}
