/***************************************
*    ██╗    ██╗ ██████╗ ███████╗██╗    *
*    ██║    ██║██╔═══██╗██╔════╝██║    *
*    ██║ █╗ ██║██║   ██║█████╗  ██║    *
*    ██║███╗██║██║   ██║██╔══╝  ██║    *
*    ╚███╔███╔╝╚██████╔╝██║     ██║    *
*     ╚══╝╚══╝  ╚═════╝ ╚═╝     ╚═╝    *
*(https://man.archlinux.org/man/wofi.1)*
*
**────────────────────────(PRESETS)───*/
@define-color black rgba(0,0,0,0.8);
@define-color grey  rgba(125,125,125,0.8);
@define-color white rgba(255,255,255,0.8);

/*─────────────────────(EVERYTHING)───*/
* {
    all: unset;
    font: italic small-caps bold 20px "Sony Sketch EF, Symbols Nerd Font Mono";
    text-shadow: 0px 0px @black;
    border-radius: 20px;
    -gtk-outline-radius: 20px;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition-property: inherit;
}
@keyframes blink {
    from { color: inherit; }
      to { color: transparent; }
}

/*──────────────────────────(THEME)───*/
window {
    color: white;
}
#scroll {
    border: 2px solid white;
    background-color: @black;
}
#input {
    color: white;
    background-color: @black;
    border: 2px solid white;
    padding: 4px;
    margin-bottom: 10px;
    font-size: 30px;
}
image,
text {
    padding: 0px 20px;
    margin: 0px 30px;
}
#entry {
    padding: 2px 10px;
    margin: 4px 10px;
}
#entry image,
#entry text {
    padding: 0px 20px 0px 0px;
    margin: 0px 30px 0px 0px;
}
#entry:selected {
    background-color: @grey;
    border: 2px solid white;
}
#entry #expander-box #entry:selected {
    color: black;
    background-color: @white;
    border: 2px solid black;
    padding: 0px 10px;
}
#input *:first-child, #input *:last-child:hover, #selected, *:hover*, #seelected * {
    animation-duration: 1000ms;
    animation-name: blink;
}

/*
#entry #expander-box #entry {
    margin-bottom: 10px;
}
#outer-box {
    background-color: @black;
}
*/
