////////////////////////////////////////////////////////////////////
///──────────────────────────────────────────────────────────────///
//|        ::::    :::   :::::::::::   :::::::::   :::::::::::   |//
//|       :+:+:   :+:       :+:       :+:    :+:      :+:        |//
//|      :+:+:+  +:+       +:+       +:+    +:+      +:+         |//
//|     +#+ +:+ +#+       +#+       +#++:++#:       +#+          |//
//|    +#+  +#+#+#       +#+       +#+    +#+      +#+           |//
//|   #+#   #+#+#       #+#       #+#    #+#      #+#            |//
//|  ###    ####   ###########   ###    ###  ###########         |//
///──────────────────────────────────────────────────────────────///
//////////(https://niri-wm.github.io/niri/Configuration)////////////
//
//─────────────────────────────────────────────────────(SOURCE)───//
include "monitor.kdl"           // AUR:nwg-displays
include "noctalia.kdl"          // AUR:noctalia-git

//────────────────────────────────────────────────(ENVIRONMENT)───//
environment {
    // XDG_CURRENT_DESKTOP "niri"
    // XDG_SESSION_DESKTOP "niri"
}

//─────────────────────────────────────────────────────(DAEMON)───//
spawn-at-startup "sh" "-c" "pgrep -x exporter >/dev/null || exporter --local"
spawn-at-startup "sh" "-c" "pgrep -x startups >/dev/null || startups --launch"
spawn-at-startup "sh" "-c" "pgrep -x backup >/dev/null || backup"

//──────────────────────────────────────────────────────(INPUT)───//
prefer-no-csd
screenshot-path         "~/Pictures/Screenshots/%F_%H-%M-%S.png"
output                  "" { variable-refresh-rate; }
cursor                  { hide-when-typing; }
input {
    // workspace-auto-back-and-forth
    // warp-mouse-to-focus
    // focus-follows-mouse max-scroll-amount="0%"
    keyboard {
        repeat-delay    200
        repeat-rate     40
        xkb {
            layout      "us"     // localectl set-x11-keymap
            // options     "grp:win_space_toggle,compose:ralt,ctrl:nocaps"
        }
        numlock
    }
    mouse {
        // off
        // natural-scroll
        accel-speed     0.0
        accel-profile   "flat"
        scroll-method   "no-scroll"
    }
    touchpad {
        // off
        // tap
        // dwt
        // dwtp
        // drag false
        // drag-lock
        // natural-scroll
        accel-speed     0.0
        accel-profile   "flat"
        scroll-method   "two-finger"
        disabled-on-external-mouse
    }
    trackpoint {
        // off
        // natural-scroll
        accel-speed     0.0
        accel-profile   "flat"
        // scroll-method   "on-button-down"
        // scroll-button   273
        // scroll-button-lock
        middle-emulation
    }
}

//─────────────────────────────────────────────────────(LAYOUT)───//
overview {
    // off
    backdrop-color  "#222222"
    workspace-shadow {}
}
layout {
    gaps 10
    center-focused-column "always"
    background-color "transparent"
    always-center-single-column true
    default-column-width {
        proportion 1.0
    }
    preset-column-widths {
        proportion 0.25
        proportion 0.50
        proportion 0.75
        proportion 1.00
    }
    preset-window-heights {
        proportion 0.25
        proportion 0.50
        proportion 0.75
        proportion 1.00
    }
    focus-ring { off; }
    border {
        // off
        width 2
        // active-color "#FFFFFF"
        // inactive-color "#AAAAAA"
        urgent-color "#FF0000"
        active-gradient from="#FFFFFF" to="#444444" angle=180 relative-to="workspace-view" in="oklch longer hue"
        inactive-gradient from="#AAAAAA" to="#444444" angle=180 relative-to="workspace-view" in="oklch longer hue"
    }
    shadow {
        // off
        draw-behind-window true
        softness    12
        spread      4
        offset      x=0 y=0
        color       "#000000"
    }
    struts {
        left    0
        right   0
        top     0
        bottom  0
    }
}
hotkey-overlay {
    skip-at-startup
}

//─────────────────────────────────────────────────(ANIMATIONS)───//
animations {
    // off
    // slowdown 1.0
    window-open {
        duration-ms 200
        curve "ease-out-quad"
    }
    window-close {
        duration-ms 200
        curve "ease-out-cubic"
    }
    window-movement {
        spring damping-ratio=0.9 stiffness=800 epsilon=0.0001
    }
    window-resize {
        spring damping-ratio=0.9 stiffness=1000 epsilon=0.0001
    }
    workspace-switch {
        spring damping-ratio=0.9 stiffness=900 epsilon=0.0001
    }
    overview-open-close {
        spring damping-ratio=0.9 stiffness=900 epsilon=0.0001
    }
    horizontal-view-movement {
        spring damping-ratio=0.9 stiffness=900 epsilon=0.0001
    }
    config-notification-open-close {
        spring damping-ratio=0.9 stiffness=1200 epsilon=0.001
    }
    screenshot-ui-open {
        duration-ms 300
        curve "ease-out-quad"
    }
}

//───────────────────────────────────────────────────────(BLUR)───//
blur {
    passes      2       // DEFAULT: 3
    offset      1.0     // DEFAULT: 3.0
    noise       0.0     // DEFAULT: 0.02
    saturation  0.0     // DEFAULT: 1.5
}

//────────────────────────────────────────────────────(WINDOWS)───//
window-rule {
    geometry-corner-radius  10
    clip-to-geometry        true
    opacity                 0.90
    background-effect {
        blur    true
        xray    true
    }
}
window-rule {
    match title="^(Open|Save|Save As|File Upload|Preferences|Settings|Picture-in-Picture)$"
    open-floating true
}
window-rule {
    match app-id=r#"^(org\.keepassxc\.KeePassXC|org\.gnome\.World\.Secrets)$"#
    block-out-from "screen-capture"
    //block-out-from "screencast"
}

//─────────────────────────────────────────────────────(LAYERS)───//
layer-rule {
    match namespace="^noctalia-.*"
    place-within-backdrop true
}
layer-rule {
    match namespace="^noctalia-(background|launcher-overlay|dock|overview|wallpaper)-.*$"
    background-effect {
        xray true
    }
}

//───────────────────────────────────────────────────(KEYBINDS)───//
binds {
    //────(SYSTEM)────//
    F1                              repeat=false { show-hotkey-overlay; }
    SUPER+ALT+R                     repeat=false { spawn-sh "niri msg action reload-config && notify-send 'Niri config.kdl Reloaded'"; }
    SUPER+ALT+L                     repeat=false hotkey-overlay-title="Lockscreen" { spawn-sh "loginctl lock-sessions"; }
    CTRL+ALT+DELETE                 repeat=false { quit; }
    SUPER+RETURN                    repeat=false { spawn "ghostty"; }
    SUPER+SHIFT+RETURN              repeat=false { spawn-sh "nemo || yazi"; }
    SUPER+SPACE                     repeat=false { spawn-sh "noctalia msg panel-toggle launcher"; }
    SUPER+BACKSPACE                 repeat=false { spawn-sh "noctalia msg panel-toggle control-center"; }
    // SUPER+RETURN                    repeat=false { spawn-sh "noctalia msg settings-toggle"; }
    SUPER+P                         repeat=false { spawn-sh "pgrep -x hyprpicker >/dev/null || hyprpicker"; }
    SUPER+O                         repeat=false { toggle-overview; }
    SUPER+Q                         repeat=false { close-window; }
    SUPER+SHIFT+Q                   repeat=false { spawn-sh "niri msg -j focused-window | jq -r '.pid // empty' | xargs -r kill -9"; }
    SUPER+T                         repeat=false allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
    //────(FOCUS)────//
    SUPER+A                         { focus-column-left; }
    SUPER+D                         { focus-column-right; }
    SUPER+W                         { focus-window-up; }
    SUPER+S                         { focus-window-down; }
    //────(SCROLL)────//
    SUPER+WHEELSCROLLUP             { focus-workspace-up; }
    SUPER+WHEELSCROLLDOWN           { focus-workspace-down; }
    SUPER+WHEELSCROLLLEFT           { focus-column-left; }
    SUPER+WHEELSCROLLRIGHT          { focus-column-right; }
    //────(MOVE)────//
    SUPER+CTRL+A                    { move-column-left; }
    SUPER+CTRL+D                    { move-column-right; }
    SUPER+CTRL+W                    { move-column-to-workspace-up; }
    SUPER+CTRL+S                    { move-column-to-workspace-down; }
    SUPER+CTRL+Q                    { move-column-to-first; }
    SUPER+CTRL+E                    { move-column-to-last; }
    //────(LAYOUT)────//
    SUPER+R                         { switch-preset-column-width; }
    SUPER+SHIFT+R                   { switch-preset-window-height; }
    SUPER+CTRL+R                    { reset-window-height; }
    SUPER+MINUS                     { set-column-width "-10%"; }
    SUPER+EQUAL                     { set-column-width "+10%"; }
    SUPER+SHIFT+MINUS               { set-window-height "-10%"; }
    SUPER+SHIFT+EQUAL               { set-window-height "+10%"; }
    SUPER+F                         { maximize-column; }
    SUPER+SHIFT+F                   { fullscreen-window; }
    SUPER+M                         { maximize-window-to-edges; }
    SUPER+CTRL+F                    { expand-column-to-available-width; }
    SUPER+C                         { center-column; }
    SUPER+CTRL+C                    { center-visible-columns; }
    SUPER+V                         { toggle-window-floating; }
    SUPER+SHIFT+V                   { switch-focus-between-floating-and-tiling; }
    //────(MONITORS)────//
    SUPER+CTRL+SHIFT+W              { focus-monitor-up; }
    SUPER+CTRL+SHIFT+A              { focus-monitor-left; }
    SUPER+CTRL+SHIFT+S              { focus-monitor-down; }
    SUPER+CTRL+SHIFT+D              { focus-monitor-right; }
    SUPER+ALT+SHIFT+A               { move-column-to-monitor-left; }
    SUPER+ALT+SHIFT+D               { move-column-to-monitor-right; }
    SUPER+ALT+SHIFT+W               { move-column-to-monitor-up; }
    SUPER+ALT+SHIFT+S               { move-column-to-monitor-down; }
    //────(WORKSPACE)────//
    SUPER+SHIFT+W                   { focus-workspace-up; }
    SUPER+SHIFT+S                   { focus-workspace-down; }
    SUPER+ALT+W                     { move-column-to-workspace-up; }
    SUPER+ALT+S                     { move-column-to-workspace-down; }
    SUPER+SHIFT+COMMA               { move-workspace-up; }
    SUPER+SHIFT+PERIOD              { move-workspace-down; }
    SUPER+TAB                       { focus-workspace-previous; }
    SUPER+G                         { toggle-column-tabbed-display; }
    //────(INDEX)────//
    SUPER+1                         { focus-workspace 1; }
    SUPER+2                         { focus-workspace 2; }
    SUPER+3                         { focus-workspace 3; }
    SUPER+4                         { focus-workspace 4; }
    SUPER+5                         { focus-workspace 5; }
    SUPER+6                         { focus-workspace 6; }
    SUPER+7                         { focus-workspace 7; }
    SUPER+8                         { focus-workspace 8; }
    SUPER+9                         { focus-workspace 9; }
    SUPER+CTRL+1                    { move-column-to-workspace 1; }
    SUPER+CTRL+2                    { move-column-to-workspace 2; }
    SUPER+CTRL+3                    { move-column-to-workspace 3; }
    SUPER+CTRL+4                    { move-column-to-workspace 4; }
    SUPER+CTRL+5                    { move-column-to-workspace 5; }
    SUPER+CTRL+6                    { move-column-to-workspace 6; }
    SUPER+CTRL+7                    { move-column-to-workspace 7; }
    SUPER+CTRL+8                    { move-column-to-workspace 8; }
    SUPER+CTRL+9                    { move-column-to-workspace 9; }
    //────(HARDWARE)────//
    XF86AudioRaiseVolume            allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 5%+ -l 1.0"; }
    XF86AudioLowerVolume            allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 5%-"; }
    XF86AudioMute                   allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute                allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }
    XF86AudioPlay                   allow-when-locked=true { spawn-sh "playerctl -a play-pause"; }
    XF86AudioStop                   allow-when-locked=true { spawn-sh "playerctl -a stop"; }
    XF86AudioPrev                   allow-when-locked=true { spawn-sh "playerctl -a previous"; }
    XF86AudioNext                   allow-when-locked=true { spawn-sh "playerctl -a next"; }
    XF86MonBrightnessUp             allow-when-locked=true { spawn-sh "brightnessctl --quiet set 10%+"; }
    XF86MonBrightnessDown           allow-when-locked=true { spawn-sh "brightnessctl --quiet set 10%-"; }
    XF86KbdBrightnessUp             allow-when-locked=true { spawn-sh "brightnessctl --quiet --device '*::kbd_backlight' set 10%+"; }
    XF86KbdBrightnessDown           allow-when-locked=true { spawn-sh "brightnessctl --quiet --device '*::kbd_backlight' set 10%-"; }
    CTRL+XF86PowerOff               allow-when-locked=true { spawn-sh "systemctl suspend"; }
    ALT+XF86PowerOff                allow-when-locked=true { spawn-sh "systemctl reboot"; }
    XF86PowerOff                    allow-when-locked=true { spawn-sh "systemctl poweroff"; }
    //────(SCREENSHOTS)────//
    PRINT                           { screenshot-screen; }
    ALT+PRINT                       { screenshot-window; }
    CTRL+PRINT                      { screenshot; }
}

//────────────────────────────────────────────────────────(DEV)───//
debug {
    honor-xdg-activation-with-invalid-serial
}
