/*__________________________________________*
*    _____                     _   ________ *
*   / ___/      ______ ___  __/ | / / ____/ *
*   \__ \ | /| / / __ `/ / / /  |/ / /      *
*  ___/ / |/ |/ / /_/ / /_/ / /|  / /___    *
* /____/|__/|__/\__,_/\__, /_/ |_/\____/    *
*                    /____/                 *
*(https://man.archlinux.org/man/swaync.5.en)*
*
**─────────────────────────────(PRESETS)───*/
@define-color black rgba(0,0,0,0.8);
@define-color grey  rgba(125,125,125,0.8);
@define-color white rgba(255,255,255,0.8);

/*──────────────────────────(EVERYTHING)───*/
* {
  all: unset;
  font: italic small-caps bold 20px "Sony Sketch EF, Symbols Nerd Font Mono";
  text-shadow: 1px 1px @black;
  border-radius: 20px;
  -gtk-outline-radius: 20px;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transition-property: inherit;
}
@keyframes blink {
  from {
    color: inherit;
  }
  to {
    color: transparent;
  }
}

/*
*───(UNUSED)───*
.close-button
.notification-action
.notification-default-action
.inline-reply-entry
.inline-reply
.inline-reply-button
.blank-window
.widget-buttons-grid>flowbox>flowboxchild>button
.widget-buttons-grid>flowbox>flowboxchild>button:hover 
.widget-menubar>box>.menu-button-bar>button
.AnyName
.topbar-buttons
.per-app-volume
.widget-backlight
.widget-inhibitors
.notification-group-headers
.notification-group-icon
.notification-group-collapse-button
.notification-group-close-all-button
.widget-volume
.widget-volume trough
.widget-volume trough slider
.widget-volume>box>button




*/

/*────────────────────────────(CONTROLS)───*/
.control-center,
.control-center-list,
.control-center-list-placeholder {
  border: 2px solid white;
  background-color: @black;
}




/*──────────────────────────────(NOTIFY)───*/
.notification {
  border: 2px solid white;
}
.notification-content {
  padding: 10px;
  background-color: @grey;
}
.notification-background :hover {
  background-color: @white;
}
.notification-row {
  padding: 6px 0px;
}
.floating-notifications {
  border: 3px solid @black;
  background: @black;
}
.low {
  border-color: @black;
}
.normal,
.summary {
  border-color: white;
}
.critical {
  border-color: red;
}
.image {
  border-radius: 8px;
  color: green;
  background-color: blue;
}
.body,
.body-image {
  color: @white;
}
.time {
  color: transparent;
}



/*─────────────────────────────(WIDGETS)───*/
.widget-buttons-grid {
  padding: 10px;
}
.widget-dnd,
.widget-title,
.widget-label {
  padding: 10px 20px;
  color: white;
}
.widget-dnd>switch:checked {
  background-color: @white;
}
.widget-dnd>switch:checked,
.widget-dnd>switch slider {
  color: black;
}

.widget-mpris>* {
  color: white;
  border: 2px solid white;
  background-color: @black;
  padding: 10px;
  margin: 10px;
}



/*─────────────────────────(AUTOMATIONS)───*/
*>button,
*>switch,
*>slider {
  margin: 0px 4px;
  padding: 4px;
  border: 2px solid @white;
  color: @white;
  background-color: @black;
}
*>button:hover,
*>switch:hover,
*>slider:hover {
  color: white;
  border: 2px solid white;
}
*>button:checked,
*>switch:checked,
*>slider:checked {
  color: black;
  background-color: @black;
}
*:checked button,
*:checked switch,
*:checked slider {
  color: white;
  background: @white;
}
