/*__________________________________________*
*    _____                     _   ________ *
*   / ___/      ______ ___  __/ | / / ____/ *
*   \__ \ | /| / / __ `/ / / /  |/ / /      *
*  ___/ / |/ |/ / /_/ / /_/ / /|  / /___    *
* /____/|__/|__/\__,_/\__, /_/ |_/\____/    *
*                    /____/                 *
*(https://man.archlinux.org/man/swaync.5.en)*
*
**─────────────────────────────(PRESETS)───*/
@define-color black rgba(0,0,0,0.8);
@define-color grey  rgba(125,125,125,0.8);
@define-color white rgba(255,255,255,0.8);

/*──────────────────────────(EVERYTHING)───*/
* {
  all: unset;
  font: italic small-caps bold 20px "Sony Sketch EF, Symbols Nerd Font Mono";
  text-shadow: 1px 1px @black;
  border-radius: 20px;
  -gtk-outline-radius: 20px;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transition-property: inherit;
}
@keyframes blink {
    from { color: inherit; }
      to { color: transparent; }
}

/*
*───(UNUSED)───*
.widget-buttons-grid>flowbox>flowboxchild>button
.widget-buttons-grid>flowbox>flowboxchild>button:hover 
.widget-menubar>box>.menu-button-bar>button
.AnyName
.topbar-buttons
.per-app-volume
.widget-backlight
.widget-inhibitors
.notification-group-headers
.notification-group-icon
.notification-group-collapse-button
.notification-group-close-all-button
.widget-volume
.widget-volume trough
.widget-volume trough slider
.widget-volume>box>button
.floating-notifications.background
.notification.critical
.notification.critical progress
*/


/*────────────────────────────(CONTROLS)───*/
.notification-default-action,
.control-center,
.control-center-list,
.control-center-list-placeholder {
  border: 2px solid white;
  background-color: @black;
}

trough highlight {
  background: @white;

  border: 2px solid @white;
}
scale trough {
  padding: 4px;
  margin: 0px 10px;
  background-color: @black;
  border: 2px solid white;
  min-height: 10px;
  min-width: 0px;
}

.close-button:hover {
  color: black;
  border: 2px solid black;
}


.blank-window {
  box-shadow: black @black @grey @white white;
}
.inline-reply-entry,
.inline-reply,
.inline-reply-button {
  background-color: green;
  color: red;
}

/*──────────────────────────────(NOTIFY)───*/
.notification {
  border: 2px solid white;
}
.notification-content {
  padding: 10px;
  background-color: @grey;
}
.notification-background :hover {
  background-color: @white;
}
.notification-row {
  padding: 6px 0px;
}
/*
.floating-notifications {
  border: 3px solid @black;
  background: @black;
}
*/
.low {
  border-color: @black;
}
.normal,
.summary {
  border-color: white;
}
.critical {
  border-color: red;
}
.image {
  border-radius: 8px;
  color: green;
  background-color: blue;
}
.body,
.body-image {
  color: @white;
}
.time {
  color: transparent;
}



/*─────────────────────────────(WIDGETS)───*/
.widget-buttons-grid {
  padding: 10px;
}
.widget-dnd,
.widget-title,
.widget-label {
  padding: 10px 20px;
}

.widget-mpris {
  color: white;
  border: 2px solid white;
  background-color: @black;
  padding: 1px;
  margin: 10px;
}



/*─────────────────────────(AUTOMATIONS)───*/
*>button *,
*>switch *,
*>slider * {
  border: 2px solid white;
  color: @white;
  background-color: @black;
}
*>button:checked>*,
*>switch:checked>*,
*>slider:checked>* {
  color: white;
  background-color: @white;
}
*>button:hover>*,
*>switch:hover>*,
*>slider:hover>* {
  color: white;
  background-color: @grey;
}
