/*__________________________________________*
*    _____                     _   ________ *
*   / ___/      ______ ___  __/ | / / ____/ *
*   \__ \ | /| / / __ `/ / / /  |/ / /      *
*  ___/ / |/ |/ / /_/ / /_/ / /|  / /___    *
* /____/|__/|__/\__,_/\__, /_/ |_/\____/    *
*                    /____/                 *
*"https://man.archlinux.org/man/swaync.5.en"*
*
**─────────────────────────────(PRESETS)───*/
@define-color black   rgba(0,0,0,0.8);
@define-color grey    rgba(125,125,125,0.8);
@define-color white   rgba(255,255,255,0.8);
@define-color red     rgba(255,0,0,0.8);
@define-color green   rgba(0,255,0,0.8);
@define-color blue    rgba(0,0,255,0.8);
@define-color purple  rgba(255,0,255,0.8);

/*──────────────────────────(EVERYTHING)───*/
* {
  all: unset;
  font: italic small-caps bold 20px "Sony Sketch EF, Symbols Nerd Font Mono";
  text-shadow: 1px 1px @black;
  border-radius: 20px;
  -gtk-outline-radius: 20px;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes blink {
  from {
    color: transparent;
  }
  to {
    color: inherit;
  }
}

/*─────────────────────────────(CONTROL)───*/
.control-center {
  border: 2px solid white;
  background-color: @black;
  padding: 22px;
}

/*──────────────────────────────(NOTIFY)───*/
.notification {
  border: 2px solid white;
  background-color: @grey;
}
.notification>:hover {
  background-color: @white;
}
.notification-background {
  padding: 4px 0px;
}
.notification-content {
  padding: 10px;
  color: WHITE;
}
image {
}
.body-image {
}
label {
}
.menu-button-bar {
}
.close-button {
}

/*──────────────────────────────(WIDGET)───*/
.widget-buttons-grid {
  padding: 100px;
}
/*──────────────────────────(AUTOMATION)───*/
*>button,
*>switch,
*>slider {
  border: 2px solid white;
  color: white;
  background-color: @black;
}
*>button:hover,
*>switch:hover,
*>slider:hover {
  color: black;
  background-color: @white;
}
*>button:checked,
*>switch:checked,
*>slider:checked {
  color: black;
}
*:checked button,
*:checked switch,
*:checked slider {
  background: white;
}
*>.low {
  border-color: @black;
}
*>.normal {
  border-color: white;
}
*>.critical {
  border-color: red;
}
*>.summary {
  color: white;
}
*>.body {
  color: @white;
}
*>.time {
  color: @grey;
}
