.act-h {
  font-family: Dosis;
  color: rgba($color: #ffffff, $alpha: 0.5);
  font-size: 2.5rem;
  font-weight: bold;
}

.act-t {
  font-family: Dosis;
  color: rgba($color: #ffffff, $alpha: 0.5);
  font-size: 1.5rem;
}
